# node modules
node_modules/

# ignore any .log as usually used to log from during live of server
*.log

# tmp files for serving translated website to user
# we still keep .gitkeep to keep such directory in the tree
# this will elimiate a need for a bot to check for existing directory before writing a file
public/gens/*.html
!public/gens/.gitkeep