# node modules
node_modules/

# ignore any .log as usually used to log from during live of server
*.log

# tmp files for serving translated website to user
# we still keep .gitkeep to keep such directory in the tree
# this will elimiate a need for a bot to check for existing directory before writing a file
public/gens/*.html
!public/gens/.gitkeep

# ignore nodemon.json
# as we need to develop and debug html-to-text to work with fkit
# this will greatly reduce time
# what you configured in nodemon.json will affect only for your local system, not the tree
nodemon.json
